body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color:rgba(85, 114, 238, 0.65);*/
}

a {
  color: #00B7FF;
}

.container {
  max-width: 500px;
}

.btn-bar{
  width: 48%;
  align-items: center;
}
